<div class = "card" style="
width: 38em;
margin-top: 263px;
margin-left: 298px">
  <div class="card text-center">
    <div class ="card header">WELCOME TO THE QUIZ
    <div class="card body">
        <p style="text-align: center;">Take this awesome quiz that will help improve your skills and knowledge.See if you can beat the
            clock! The timed questionnaire with automatic scoring provides you with a final score along with a summary of your
            answers. Match with with your friends! Practice to increase your knowledge. Good luck and have fun with this quiz.
            Share and enjoy!</p>
            <div>                
                <button type="submit" class="btn btn-primary" (click) ="startQuiz()">START QUIZ</button>
              </div>
           
        </div>
    </div>

</div>
</div>