/* You can add global styles to this file, and also import other style files */
.mainBody {
    background-image: url('./assets/backgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}